ðŸŽ¯Analyzing Road Safety in the UK

Use aggregate functions in SQL and Python to answer the following sample questions:

1. Evaluate the median severity value of accidents caused by various Motorcycles.

In [ ]:
 # SQL Approach
    -- SQL Query to Calculate Median Severity for Motorcycle Accidents
SELECT
    (SELECT Severity
     FROM (SELECT Severity, ROW_NUMBER() OVER (ORDER BY Severity) AS RowAsc
           FROM Accident
           WHERE Vehicle_Type = 'Motorcycle'
           AND Severity IS NOT NULL) AS T1
     WHERE T1.RowAsc = (SELECT (COUNT(*) + 1) / 2 FROM Accident WHERE Vehicle_Type = 'Motorcycle' AND Severity IS NOT NULL)
    ) AS Median_Severity;

In [ ]:
# Python Approach
import pandas as pd

# Assuming you've loaded the dataset into a DataFrame named accident_data
# Filter the dataset for Motorcycle accidents and remove rows with missing Severity values
motorcycle_accidents = accident_data[(accident_data['Vehicle_Type'] == 'Motorcycle') & (~accident_data['Severity'].isnull())]

# Calculate the median Severity
median_severity = motorcycle_accidents['Severity'].median()

print("Median Severity for Motorcycle Accidents:", median_severity)

2. Evaluate Accident Severity and Total Accidents per Vehicle Type

In [ ]:
#SQL Approach
-- SQL Query to Evaluate Accident Severity and Total Accidents per Vehicle Type
SELECT
    Vehicle_Type,
    COUNT(*) AS Total_Accidents,
    AVG(Severity) AS Avg_Severity
FROM Accident
WHERE Vehicle_Type IS NOT NULL
GROUP BY Vehicle_Type
ORDER BY Avg_Severity DESC;

In [ ]:
#Python Approach
import pandas as pd

# Assuming you've loaded the dataset into a DataFrame named accident_data
# Filter out rows with missing vehicle types and severities
filtered_data = accident_data.dropna(subset=['Vehicle_Type', 'Severity'])

# Group by vehicle type and calculate total accidents and average severity
result = filtered_data.groupby('Vehicle_Type').agg({
    'Severity': 'mean',
    'Accident_Index': 'count'
}).reset_index()

# Rename columns for clarity
result.rename(columns={'Severity': 'Avg_Severity', 'Accident_Index': 'Total_Accidents'}, inplace=True)

# Sort by average severity in descending order
result = result.sort_values(by='Avg_Severity', ascending=False)

print(result)

3. Calculate the Average Severity by vehicle type.

In [ ]:
#SQL Approach
-- SQL Query to Calculate Average Severity by Vehicle Type
SELECT
    Vehicle_Type,
    AVG(Severity) AS Avg_Severity
FROM Accident
WHERE Vehicle_Type IS NOT NULL
GROUP BY Vehicle_Type;

In [ ]:
#Python Approach
import pandas as pd

# Assuming you've loaded the dataset into a DataFrame named accident_data
# Filter out rows with missing vehicle types and severities
filtered_data = accident_data.dropna(subset=['Vehicle_Type', 'Severity'])

# Group by vehicle type and calculate average severity
result = filtered_data.groupby('Vehicle_Type')['Severity'].mean().reset_index()

# Rename the column for clarity
result.rename(columns={'Severity': 'Avg_Severity'}, inplace=True)

print(result)

4. Calculate the Average Severity and Total Accidents by Motorcycle.

In [ ]:
#SQL Approach
-- SQL Query to Calculate Average Severity and Total Accidents for Motorcycles
SELECT
    'Motorcycle' AS Vehicle_Type,
    AVG(Severity) AS Avg_Severity,
    COUNT(*) AS Total_Accidents
FROM Accident
WHERE Vehicle_Type = 'Motorcycle';

In [ ]:
#Python Approach
import pandas as pd

# Assuming you've loaded the dataset into a DataFrame named accident_data
# Filter out rows with missing vehicle types and severities
filtered_data = accident_data.dropna(subset=['Vehicle_Type', 'Severity'])

# Filter data to include only motorcycle accidents
motorcycle_data = filtered_data[filtered_data['Vehicle_Type'] == 'Motorcycle']

# Calculate the average severity for motorcycles
avg_severity = motorcycle_data['Severity'].mean()

# Calculate the total number of accidents involving motorcycles
total_accidents = len(motorcycle_data)

print("Average Severity for Motorcycles:", avg_severity)
print("Total Accidents Involving Motorcycles:", total_accidents)

ðŸŽ¯Analyzing the World Population

1. Which country has the highest population?

In [ ]:
#SQL Approach
SELECT MAX(population) AS max_population_country
FROM your_table_name;

2. Which country has the least number of people?

In [ ]:
SELECT MIN(population) AS min_population_country
FROM your_table_name;

3. Which country is witnessing the highest population growth?

In [ ]:
SELECT country_name
FROM your_table_name
ORDER BY population_growth DESC
LIMIT 1;

4. Which country has an extraordinary number for the population?

In [ ]:
SELECT country_name, population
FROM your_table_name
WHERE population > (SELECT AVG(population) + 2 * STDDEV_POP(population) FROM your_table_name);

5. Which is the most densely populated country in the world?

In [ ]:
SELECT country_name
FROM your_table_name
ORDER BY population / area DESC
LIMIT 1;